.movieDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieDetailsButton {
  margin-bottom: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.movieDetails {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
}

.movieTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.movieOverview {
  margin-bottom: 20px;
}

.movieInfoItem {
  font-size: 18px;
  margin-bottom: 10px;
}

.castList,
.reviewList {
  list-style: none;
  padding: 0;
}

.castItem,
.reviewItem {
  margin-bottom: 10px;
}

.castName {
  font-weight: bold;
}

.reviewContent {
  font-style: italic;
}
